[Unit]
Description=Launch flask server
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/var/ProjetInfra/chessgame/
ExecStart=python3 -m flask run -h 0.0.0.0 -p 80

[Install]
WantedBy=multi-user.target