

<html>
  <head>
    <title>Game menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/menu.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/topnav.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="topnav">
      <a href="{{ url_for('menu') }}">Menu</a>
      <a href="{{ url_for('profil') }}">Profil</a>
      <a href="{{ url_for('chooseLevel') }}">Jouer</a>
      <a href="{{ url_for('allGames') }}">Mes Parties</a>
      <a href="{{ url_for('sign_out') }}" class="split">Se déconnecter</a>
    </section>
    <div class="container">
      <br>
      <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
      </div>
      <form class="registerForm" action="" method="post">
        <h1 style="color:white;">Chessgame</h1> 
        <h3>Choisis</h3>
        <p class="button"><a href="{{ url_for('play') }}?type=player">1vs1</a></p>
        <p class="button"><a href="{{ url_for('play') }}?type=minmax">IA Facile</a></p>
        <p class="button"><a href="{{ url_for('play') }}?type=Stockfish">IA Difficile</a></p>
        <p class="button"><a href="{{ url_for('play') }}?type=IAVsIA">IA Difficile</a></p>
        {% if error %}
          <h1 class="error"><strong>Mauvais mot de passe ou utilisateur</strong></h1> {{ error }}
        {% endif %}
      </form>
      
    </div>
  </body>
</html>