<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/board.css') }}">

<html>
  <head>
    <title>Chessboard</title>
  </head>
  <body>
    <section class="topnav">
      <a href="{{ url_for('menu') }}">Menu</a>
      <a href="{{ url_for('profil') }}">Profile</a>
      <a href="{{ url_for('chooseLevel') }}">Jouer</a>
      <a href="{{ url_for('allGames') }}">Mes Parties</a>
      <a href="{{ url_for('sign_out') }}" class="split">Se déconnecter</a>
      <a href="{{ url_for('menu') }}" class="split">Sauvegarder la partie</a>
    </section>
    <section class="background">
      <section class="shape"></section>
      <section class="shape"></section>
    </section>
    <h3 style="color:white;">Bienvenue :{{ session['name'] }}</h3>
    <section class="carre">
      <h3 style="color:white;" id="states">C'est au tour du joueur 1</h3>
      
      <table id='chessboard'></table>
      <script src="{{url_for('static', filename='js/board.js')}}"></script>
    </section>
    
  </body>  
</html>