<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='styles/board.css') }}"
/>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/topnav.css') }}">

<html>
  <head>
    <title>Chessboard</title>
  </head>
  <section class="topnav">
    <a href="{{ url_for('menu') }}">Menu</a>
    <a href="{{ url_for('profil') }}">Profil</a>
    <a href="{{ url_for('chooseLevel') }}">Jouer</a>
    <a href="{{ url_for('allGames') }}">Mes Parties</a>
    <a href="{{ url_for('sign_out') }}" class="split">Se déconnecter</a>
  </section>
  <body>
    <h1>{{ session['name'] }}</h1>
    <table id="chessboard"></table>
    <script src="{{url_for('static', filename='js/board.js')}}"></script>
  </body>
</html>
